<template>
  <ion-content>
    <ion-header no-shadow no-border>
      <ion-toolbar>
      </ion-toolbar>
    </ion-header>
    Tab 1
  </ion-content>
</template>

<script>
export default {
  name: 'Tab1'
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
