<template>
  <ion-app id="app">
    <ion-content>
      <ion-header>
        <ion-toolbar>
          <ion-title text-center color="primary"> <font-awesome-icon icon="layer-group" class="card-stack-icon"/> Boilerplate App</ion-title>
        </ion-toolbar>
      </ion-header>

      <ion-tabs>
        <ion-tab tab="Tab1">
            <router-view></router-view>
        </ion-tab>

        <ion-tab tab="Tab2">
            <router-view></router-view>
        </ion-tab>

        <ion-tab tab="Tab3">
            <router-view></router-view>
        </ion-tab>

        <ion-tab-bar slot="bottom">
          <ion-tab-button tab="Tab1">
            <font-awesome-icon icon="bolt" class="nav-icon-fa"/>
            <ion-icon name="heart" class="nav-icon-placeholder"></ion-icon>
            <ion-label>Tab One</ion-label>
          </ion-tab-button>

          <ion-tab-button tab="Tab2">
            <font-awesome-icon icon="layer-group" class="nav-icon-fa"/>
            <ion-icon name="heart" class="nav-icon-placeholder"></ion-icon>
            <ion-label>Tab Two</ion-label>
          </ion-tab-button>

          <ion-tab-button tab="Tab3">
            <font-awesome-icon icon="paper-plane" class="nav-icon-fa"/>
            <ion-icon name="heart" class="nav-icon-placeholder"></ion-icon>
            <ion-label>Tab Three</ion-label>
          </ion-tab-button>
        </ion-tab-bar>
      </ion-tabs>
    </ion-content>
  </ion-app>
</template>

<script>
export default {
  name: 'app',
  components: {
  },
  methods:{
  }
}
</script>

<style lang="scss">
.nav-icon-fa{
  height: 30px;
  width:30px;
  font-size:25px;
}
.nav-icon-placeholder{
  display: none;
}
</style>
